@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200; 300; 400; 50 0;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    color: rgb(0, 0, 0);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fff;
    height: 100vh;
}

section::before,
.card::before {
    content: '';
    position: absolute;
    background: linear-gradient(#787777, #000);
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

section::before {
    top: 3%;
    Left: 55%;
}

.card::before {
    bottom: 35%;
    Left: 31%;
    background: linear-gradient(#9f9f9f, #000);
}

.face {
    width: 250px;
    height: 485px;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.425);
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    filter: blur(0.2px);
    border-style: solid;
}

.slide-content {
    width: 120px;
    height: 15px;
    border-radius: 20px;
    padding: 12px 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    background-color: rgba (255, 255, 255, 0.05);
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.face h3 {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.face h6 {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    Letter-spacing: 1px;
}

.icon-content {
    padding: 0 30px;
    display: flex;
    margin-top: 180px;
    justify-content: space-between;
    align-items: center;
}

.icon-content i {
    font-size: 14px;
}

h5 {
    font-weight: 400;
    font-size: 11px;
    Letter-spacing: 0.5px;
}